
body{
    text-align: center;
    background-color: rgb(149, 149, 238);
}
.container{

    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    border-radius: 10px;
    background-color: white;
    width: 500px;
    margin: auto;
    padding: 30px;
    border: 1pt solid black;
}

.conteudo1{
   border: 1pt solid black;
   margin-bottom: 20px;
}

.conteudo2{
    border: 1pt solid black;
}

.footer{
    margin: 10px 10px 10px 10px;
}